<body class="d-flex h-100 text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<h2>Add Education</h2>


{{#if error}}
<span class="help-block alert-danger has-warning">{{error}}</span>
{{/if}}

<form id='add-education-form' class="form-signin needs-validation" action="/user/update-education/{{eid}}" method='POST' >
    <div class="form-group">
    <label for="university">University</label><br>
    <input type="text" class="form-control" value="{{university}}" id="university" name="university" required><br>
    <span class="help-block alert-danger has-warning">{{university_error}}</span>
  </div>
  <div class="form-group">
    <label for="degree">Degree</label><br>
    <input type="text" class="form-control" value="{{degree}}" id="degree" name="degree" required><br>
    <span class="help-block alert-danger has-warning">{{degree_error}}</span>
  </div>
  <div class="form-group">
    <label for="major">Major</label><br>
    <input type="text" class="form-control" value="{{major}}" id="major" name="major" required><br>
    <span class="help-block alert-danger has-warning">{{major_error}}</span>
  </div>
  <div class="form-group">
    <label for="description">Description</label><br>
    <input type="text" class="form-control" value="{{description}}" id="description" name="description"><br>
  </div>
  <div class="form-group">
    <label for="start_date">Start year</label><br>
    <input type="number" class="form-control" value="{{start_date}}" required id="start_date" name="start_date">
    <span class="help-block alert-danger has-warning">{{start_date_error}}</span>
  </div>
  <div class="form-group">
    <label for="end_date">End year</label><br>
    <input type="number" class="form-control" value="{{end_date}}" required id="end_date" name="end_date">
    <span class="help-block alert-danger has-warning">{{end_date_error}}</span>
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
  <a href="/user/update-education/"><button type="button" class="btn btn-dark">Cancel</button></a>
</form>

</div>
</body>
