<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

  <div id="page-content">
    <h1>{{fname}} {{lname}}</h1>
    <ul>
          <li style="display:inline">
          <a href="http://twitter.com/{{twitter}}" class="fa fa-twitter"></a></li>

          <li style="display:inline">
          <a href="http://github.com/{{github}}" class="fa fa-github"></a></li>
          <li style="display:inline">
          <a href="http://linkedin.com/in/{{linkedin}}" class="fa fa-linkedin"></a></li>
  </ul>

    <div class="bbox" id="about">
      <h3>About Me</h3>
      <p>
        hwalekcm oaiw mcoa weiaj ogaj lcms dfjawoirgvacamsdlkfio awjvoi
      </p>
      <ul class="no-style">
        <li style="list-style-type: none;">
          <i class="fa fa-envelope"></i><b>Email</b> {{email}}
        </li>
        <li style="list-style-type: none;">
          <i class="fa fa-phone"></i><b>Phone</b> {{phone}}
        </li>
        <li style="list-style-type: none;">
          <i class="fa fa-map-marker"></i><b>Address</b> {{location}}
        </li>
      </ul>

    </div>
    <div class="bbox" id="education">
      <h3>Education</h3>

      <ul class="no-style">
        {{#each educations}}
        <li style="list-style-type: none;">
          <div>
          <span class="dot"></span><p style="display:inline;padding-left:15px;" class="bigp">{{this.degree}} in {{this.major}} from {{this.university}}</p>
          <p>{{this.start_date}} - {{this.end_date}}</p>
          <p>{{this.description}}<p>
          <div>
        </li>
        {{/each}}
      </ul>


    </div>
    <div class="bbox" id="skills">
      <h3>Skills</h3>
      <ul class="no-style">
        {{#each skills}}
        <li style="list-style-type: none;padding-bottom:10px;">
        <p style="font-size:medium;display:inline;padding-right:10px;" >{{this.name}}</p>
        <div class="progress" style="margin-top:5px;">
          <div class="progress-bar bg-success" style="width:{{this.score}}%;height:20px;" value="{{this.score}}" max="10">
        {{this.score}}% </div>
        </div>
        </li>
        {{/each}}
      </ul>

    </div>
    <div class="bbox" id="github">
      <h3>GitHub Activity Chart</h3>

    </div>
    <div class="bbox"id="experience">
      <h3>Experience</h3>

    </div>
    <div class="bbox" id="projects">
      <h3>GitHub Projects</h3>

    </div>
    <div class="bbox"id="twitter"></div>

  </div>


</body>
