<body class="d-flex h-100 text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<h2>Add Education</h2>


{{#if error}}
<span class="help-block alert-danger has-warning">{{error}}</span>
{{/if}}

<form id='add-education-form' class="form-signin needs-validation" action="/user/add-education" method='POST' >
    <div class="form-group">
    <label for="university">University</label><br>
    <input type="text" class="form-control" value="{{university}}" id="university" name="university" required><br>
    <span class="help-block alert-danger has-warning">{{university_error}}</span>
  </div>
  <div class="form-group">
    <label for="degree">Degree</label><br>
    <input type="text" class="form-control" value="{{degree}}" id="degree" name="degree" required><br>
    <span class="help-block alert-danger has-warning">{{degree_error}}</span>
  </div>
  <div class="form-group">
    <label for="major">Major</label><br>
    <input type="text" class="form-control" value="{{major}}" id="major" name="major" required><br>
    <span class="help-block alert-danger has-warning">{{major_error}}</span>
  </div>
  <div class="form-group">
    <label for="start_year">Start year</label><br>
    <input type="number" class="form-control" value="{{start_year}}" required id="start_year" name="start_year">
    <span class="help-block alert-danger has-warning">{{start_year_error}}</span>
  </div>
  <div class="form-group">
    <label for="end_year">End year</label><br>
    <input type="number" class="form-control" value="{{end_year}}" required id="end_year" name="end_year">
    <span class="help-block alert-danger has-warning">{{end_year_error}}</span>
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
  <a href="/user"><button type="button" class="btn btn-dark">Cancel</button></a>
</form>

</div>
</body>
