<body class="d-flex h-100 text-white bg-dark">

<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      {{!-- <h3 class="float-md-start mb-0">Portfolio Page</h3> --}}
      <h1>{{fname}} {{lname}}</h1>
      <h3>{{email}}</h3>
    </div>
  </header>

  <main>
      <p class="lead">Twitter: <a href="http://twitter.com/{{twitter}}">{{twitter}}</a></p>
      <p class="lead">GitHub: <a href="http://github.com/{{github}}">{{github}}</a></p>
      <p class="lead">Linkedin: <a href="http://linkedin.com/in/{{linkedin}}">{{linkedin}}</a></p>
  </main>
  <p class='lead'>Education</p>

  <p class='lead'>GitHub Activity Chart</p>

  <div id="chart-container">
    <canvas id="myChart" gid={{github}} width="400" height="400"></canvas>
  </div>
  <script type="text/javascript">
    // render_chart();
  </script>

    <h3>Projects:</h3>
    {{#each github_repos}}
    <p class="lead"><a href="{{this.html_url}}">{{this.name}}</a></p>
    <p>Created at {{this.created_at}} Forks: {{this.forks_count}} Stars: {{this.stargazers_count}}<p>
    <p>{{this.description}}</p>
    {{/each}}

  {{{twitter_embedding}}}
  <footer class="mt-auto">
    <p>Project part of CS484 by Prof. Chris Fulton at University of Illinois at Chicago</p>
  </footer>
</div>

</body>
  