{{!-- <h1>{{title}}</h1> --}}
<body class="d-flex h-100 text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<h2>Your Account settings</h2>
<p>Firstname: {{fname}}</p>
<p>Lastname: {{lname}}</p>
<p>Email: {{email}}</p>
{{!--  --}}
{{!-- <p>{{twitter_data.length}}<p> --}}
{{!-- <p>{{twitter_data}}</p> --}}
{{!-- {{#each twitter_data}} --}}
{{!-- <p>a<p> --}}
{{!-- <p>{{this}}<p> --}}
{{!-- <a href="{{this.url}}">{{this.name}}</a>
{{else}}
<p class="empty">No content</p>
{{/each}} --}}
{{!-- <a class="twitter-timeline" href="https://twitter.com/yashashvi_dave?ref_src=twsrc%5Etfw">Tweets by yashashvi_dave</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> --}}
{{!-- {{{twitter_embedding}}} --}}
<a href="/user/portfolio"><button id='portfolio-btn' type="button" class="btn btn-dark">Portfolio Page</button></a> <br>
<a href="/user/edit"><button type="button" class="btn btn-dark">Edit settings</button></a> <br>
<a href="/user/update-education"><button type="button" class="btn btn-dark">Update Education</button></a> <br>
<a href="/user/add-social"><button type="button" class="btn btn-dark">Add socials</button></a> <br>
<a href="/logout"><button type="button" class="btn btn-dark">Logout</button></a> <br>
<a href="/deactivate"><button type="button" class="btn btn-dark">Deactivate Account</button></a>
</div>
</body>
