<h1>{{title}}</h1>
<h2>User Account Page</h2>
<p>Welcome to {{title}}</p>
<p>Firstname {{fname}}</p>
<p>Lastname {{lname}}</p>
<p>Email {{email}}</p>
{{!--  --}}
<a href="/logout"><button type="button" class="btn btn-dark">Logout</button></a>
